<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 4%">
            <div id="form1">
                <a href="/events">
                    <i class="fas fa-arrow-left"></i>
                    <%= language.__('Wróć do strony z wydarzeniami') %>
                </a>
                <h1 class="login">
                    <% if(userLanguage === 'pl'){ %>
                        Edytuj wydarzenie <%= event.name %>
                    <% } else { %>
                        Edit event <%= event.nameEn %>
                    <% } %>
                    
                </h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
                <form action="/events/<%= event._id %>?_method=PUT" method="post" id>
                   
                    <label for="username" class="username">
                        <%= language.__('Nazwa wydarzenia po polsku') %>
                        
                    </label>
                    <div class="input-group mb-3">
                        
                        <input type="text" class="form-control" name="event[name]" id="username" value="<%= event.name %>" placeholder="<%= language.__('Tu wpisz nazwę wydarzenia po polsku') %>" aria-label="Hasło" aria-describedby="basic-addon1">
                    </div>
                    <label for="password" class="username">
                        <%= language.__('Nazwa wydarzenia po angielsku') %>
                        
                    </label>

                    <div class="input-group mb-3">
                        
                        <input type="text" class="form-control" name="event[nameEn]" id="nameEn" value="<%= event.nameEn %>" placeholder="<%= language.__('Tu wpisz nazwę wydarzenia po angielsku') %>" aria-label="Hasło" aria-describedby="basic-addon1">
                    </div>
                    
                    <label for="password" class="username">
                        <%= language.__('Czas') %>
                        
                    </label>

                    <div class="input-group mb-3">
                        
                        <input type="text" class="form-control" name="event[time]" id="time" value="<%= event.time %>" placeholder="<%= language.__('Tu wpisz czas rozpoczęcia') %>" aria-label="Hasło" aria-describedby="basic-addon1">
                    </div>
                    <label for="password" class="username">
                        <%= language.__('Opis wydarzenia po polsku') %>
                        
                    </label>

                    <div class="input-group mb-3">
                        <textarea name="event[description]" id="description" placeholder="<%= language.__('Tutaj wpisz opis wydarzenia po polsku') %>" class="form-control"><%= event.description %></textarea>
                    </div>
                    <label for="password" class="username">
                        <%= language.__('Opis wydarzenia po angielsku') %>
                        
                    </label>

                    <div class="input-group mb-3">
                        <textarea name="event[descriptionEn]" id="descriptionEn" placeholder="<%= language.__('Tutaj wpisz opis wydarzenia po angielsku') %>" class="form-control"><%= event.descriptionEn %></textarea>
                    </div>
                    
                    <input type="submit" value="<%= language.__('Edytuj wydarzenie') %>" class="btn btn-success button btn-golden">
                   
                </form>
                
            </div>
           
        </div>
        
    </div>
</div>

</body>
</html>