<%- include("../partials/headern") %>
<br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="subpage-title"><%= language.__('Wydarzenia') %></h1>
                <a href="/events/new" class="btn btn-success btn-green"><%= language.__('Dodaj wydarzenie') %></a>
            </div>
        </div>
        <% if(events.length === 0){ %>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12">
                    <div class="alert alert-info text-center">
                        <%= language.__('Do tej pory nie dodano jeszcze wydarzeń') %>
                    </div>
                    
                </div>
            </div>
        <% } else { %>
            <div class="row">
                <% events.forEach((event) => { %>
                    <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 10px;">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title text-center">
                                    <% if(userLanguage === 'pl'){ %>
                                        <%= event.name %>
                                        
                                    <% } else { %>
                                        <%= event.nameEn %>
                                        
                                    <% } %>
                                    
                                </div>
                                <p class="description">
                                    <%= language.__('Czas:') %> <strong><%= event.time %></strong>
                                </p>
                                <% if(userLanguage === 'pl'){ %>
                                    <p class="description">
                                        Opis: <strong><%= event.description %></strong>
                                    </p>
                                   
                                  
                                <% } else { %>
                                    <p class="description">
                                        Description: <strong><%= event.descriptionEn %></strong>
                                    </p>
                                   
                                <% } %>
                                
                                

                                
                                <a href="/events/<%= event._id %>/edit" class="btn btn-success btn-green">
                                    <%= language.__('Edytuj') %>
                                </a>
                                <a href="/events/<%= event._id %>/delete" class="btn btn-danger">
                                    <%= language.__('Usuń') %>
                                </a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>
    </div>
<%- include("../partials/footer") %>