<%- include("../partials/headern") %>
<br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="subpage-title"><%= language.__('Noclegi dla gości') %></h1>
                <a href="/hotels/new" class="btn btn-success btn-green"><%= language.__('Dodaj nocleg') %></a>
            </div>
        </div>
        <% if(hotels.length === 0){ %>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12">
                    <div class="alert alert-info text-center">
                        <%= language.__('Do tej pory nie dodano jeszcze hoteli') %>
                    </div>
                    
                </div>
            </div>
        <% } else { %>
            <div class="row">
                <% hotels.forEach((hotel) => { %>
                    <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 10px;">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title text-center"><%= hotel.name %></div>
                                <p class="description">
                                    <%= language.__('Miasto:') %> <strong><%= hotel.city %></strong>
                                </p>
                                <p class="description">
                                    <%= language.__('Ulica i numer:') %> <strong><%= hotel.street %></strong>
                                </p>
                                <p class="description">
                                    <%= language.__('Telefon:') %> <strong><%= hotel.phone %></strong>
                                </p>

                                <% if(userLanguage === 'pl'){ %>
                                    <p class="description">
                                        Opis: <strong><%= hotel.description %></strong>
                                    </p>
                                    <p class="description">
                                        Ważna informacja: <strong><%= hotel.important %></strong>
                                    </p>
                                    <p class="description">
                                        Ciekawostka: <strong><%= hotel.fact %></strong>
                                    </p>
                                <% } else { %>
                                    <p class="description">
                                        Description: <strong><%= hotel.descriptionEn %></strong>
                                    </p>
                                    <p class="description">
                                        Important information: <strong><%= hotel.importantEn %></strong>
                                    </p>
                                    <p class="description">
                                        Fact: <strong><%= hotel.factEn %></strong>
                                    </p>
                                <% } %>
                                <a href="/hotels/<%= hotel._id %>/edit" class="btn btn-success btn-green">
                                    <%= language.__('Edytuj') %>
                                </a>
                                <a href="/hotels/<%= hotel._id %>/delete" class="btn btn-danger">
                                    <%= language.__('Usuń') %>
                                </a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>
    </div>
    <%- include("../partials/footer") %>