<%- include("partials/header") %>
<p class="d-none" id="language"><%= userLanguage %></p>
<div class="container-full">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="info">
                <div class="info__header text-center" >
                    <h1><%= language.__('Informator ślubny') %></h1>
                    <p>
                        <%= language.__('Martyny i Maćka') %>
                    </p>
                </div>
                <div class="info__buttons">
                    <a href="/guests/confirm"><%= language.__('Ankieta') %></a> <br>
                    <a href="#important_infos"><%= language.__('Informacje') %></a>
                </div>
            </div>
            <% if(success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= language.__('Dziękujemy za potwierdzenie uczestnictwa') %>
                </div>
            <% } %>

            <div id="countdown">
                <div>
                    <h3><%= language.__('Zostało:') %></h3>
                </div>
                <div>
                    <p id="zegar">
                        <span id="days"></span>
                        <%= language.__('Dni') %>
                        <span id="hours"></span>
                        <%= language.__('Godziny') %>
                        <span id="minutes"></span>
                        <%= language.__('Minuty') %>
                        <span id="seconds"></span>
                        <%= language.__('Sekundy') %>
                    </p>
                </div>
                
            </div>
            <section class="date">
                <p class="month"><%= language.__('Maj') %></p>
                <div>
                    <p class="dayOfWeek"><%= language.__('Sobota') %></p>
                    <p class="day">20</p>
                    <p class="hour">13:30</p>
                </div>
                <p class="year">2023</p>
            </section>
            <div class="important_infos text-center" id="important_infos">
                <h1 id="infosh1"> <%= language.__('Ślubny rozkład jazdy') %></h1>
                <% infos.forEach((info) => { %>
                    <div>
                        <h2 class="infosh2">
                            <% if (lang === 'pl') { %>
                                <%= info.name %>
                            <% } else { %>
                                <%= info.nameEn %>
                            <% } %>
                        
                        </h2>
                        <p class="infoDescription">
                            <% if(info.place){ %>
                                <%= info.place %>, <%= info.street %>, <%= info.city %> <br>
                            <% } %>
                            godz. <%= info.time %>
                        </p>
                        
                    </div>
                <% }) %>
            </div>   
            <section class="gifts">
                <p>
                    <%- language.__(`Jeśli myślicie o prezencie dla nas to prosimy, żeby <strong>NIE</strong> był to <strong>ALKOHOL</strong>, ponieważ oboje go nie lubimy!`) %>
                    <br><br>
                    <%= language.__('Jeśli nie możesz skorzystać osobiście, a chcesz nam coś sprezentować to poniżej zamieszczamy adres wysyłki.') %>
                    <br><br>
                    <%= language.__('Adres:') %> <strong>Kurowice 79, 67-222 Jerzmanowa</strong> <br>
                </p>
            </section>
            <section class="other text-center">
                <div class="zoom">
                    <p><%= language.__('Możliwość skorzystania z uroczystości i wykładu przez') %> <strong>Zoom</strong></p>
                    <p class="zoom__id">
                        ID:<strong> 853 3201 4107</strong>
                    </p>
                    <p class="zoom__password">
                        <%= language.__('HASŁO:') %><strong>
                            200523
                        </strong>
                    </p>
                </div>
                <div class="questions">
                    <p><%= language.__('Masz pytania?') %></p>
                    <a href="mailto:maciejkuta6@gmail.com" class="btn-grey"><%= language.__('Napisz do nas') %></a>
                </div>
                <div class="confirm">
                    <p>
                        <strong><%= language.__('Zależy nam byś potwierdził swoją obecność w ankiecie.') %></strong><br> 
                        <%= language.__('Możesz wypełnić ją klikając przycisk “ANKIETA” poniżej lub u góry strony.') %>
                    </p>
                    <br>
                    <a href="/guests/confirm" class="btn-grey"><%= language.__('Ankieta') %></a>
                </div>
            </section>
            <div class="soon text-center">
                <h2><%= language.__('Do zobaczenia w maju!') %></h2>
                <p>- Martyna i Maciek</p>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>