<%- include("partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 8%">
            <div id="form1">
                <a href="/dashboard">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony z gośćmi
                </a>
                <h1 class="login">Edytuj konto</h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
                <form action="/user/<%= user._id %>?_method=PUT" method="post" id>
                   
                    <label for="username" class="username">
                        Edytuj nazwę użytkownika
                        
                    </label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                              <i class="fas fa-user"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" name="user[username]" value="<%= user.username %>" id="username" placeholder="Tu wpisz nazwę użytkownika" aria-label="Hasło" aria-describedby="basic-addon1">
                    </div>
                    <label for="username" class="username">
                        Edytuj imię
                        
                    </label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                              <i class="fas fa-user-tag"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" name="user[name]" id="username" value="<%= user.name %>" placeholder="Tu wpisz swoje imię" aria-label="Hasło" aria-describedby="basic-addon1">
                    </div>
                    <label for="username" class="username">
                        Edytuj email
                        
                    </label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                              <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" name="user[email]" id="username" value="<%= user.email %>" placeholder="Tu wpisz swój email" aria-label="Hasło" aria-describedby="basic-addon1">
                    </div>
                    
                    
                    <input type="submit" value="Edytuj konto" class="btn btn-success button btn-golden">
                   
                </form>
                
            </div>
           
        </div>
        
    </div>
</div>

</body>
</html>