<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 4%">
            <div id="form1">
                <a href="/infos">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony z ważnymi informacjami
                </a>
                <h1 class="login">
                    <% if(userLanguage === 'pl'){ %>
                        Edytuj ważną informację <%= info.name %>
                    <% } else { %>
                        Edit important information <%= info.nameEn %>
                    <% } %>
                   
                </h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
                <form action="/infos/<%= info._id %>?_method=PUT" method="post" id>
                   
                    <label for="username" class="username">
                        Edytuj nazwę ważnej informacji po polsku
                        
                    </label>
                    <div class="input-group mb-3">
                        
                        <input type="text" class="form-control" name="info[name]" value="<%= info.name %>" id="username" placeholder="Tu wpisz nazwę informacji po polsku" aria-label="Hasło" aria-describedby="basic-addon1">
                    </div>
                    <label for="password" class="username">
                        Edytuj nazwę ważnej informacji po angielsku
                        
                    </label>

                    <div class="input-group mb-3">
                        
                        <input type="text" class="form-control" name="info[nameEn]" value="<%= info.nameEn %>" id="nameEn" placeholder="Tu wpisz nazwę informacji po angielsku" aria-label="Hasło" aria-describedby="basic-addon1">
                    </div>
                    <label for="password" class="username">
                        Edytuj czas trwania/rozpoczęcia ważnej informacji
                        
                    </label>

                    <div class="input-group mb-3">
                        
                        <input type="text" class="form-control" name="info[time]" id="time" value="<%= info.time %>" placeholder="Tu wpisz czas trwania/rozpoczęcia ważnej informacji" aria-label="Hasło" aria-describedby="basic-addon1">
                    </div>
                    <label for="password" class="username">
                        Edytuj miejsce, gdzie się odbędzie po polsku
                        
                    </label>

                    <div class="input-group mb-3">
                        
                        <input type="text" class="form-control" name="info[place]" id="place" value="<%= info.place %>" placeholder="Tu wpisz miejsce, gdzie się odbędzie po polsku" aria-label="Hasło" aria-describedby="basic-addon1">
                    </div>
                    <label for="password" class="username">
                        Edytuj miejsce, gdzie się odbędzie po angielsku 
                        
                    </label>

                    <div class="input-group mb-3">
                        
                        <input type="text" class="form-control" name="info[placeEn]" id="placeEn" value="<%= info.placeEn %>" placeholder="Tu wpisz miejsce, gdzie się odbędzie po angielsku" aria-label="Hasło" aria-describedby="basic-addon1">
                    </div>

                    <label for="password" class="username">
                        Edytuj miasto ważnej informacji
                         
                     </label>
 
                     <div class="input-group mb-3">
                         
                        <input type="text" class="form-control" name="info[city]" id="city" value="<%= info.city %>" placeholder="Tu wpisz miasto ważnej informacji" aria-label="Hasło" aria-describedby="basic-addon1">
                     </div>
                     <label for="password" class="username">
                        Edytuj ulicę i numer ważnej informacji
                         
                     </label>
 
                     <div class="input-group mb-3">
                         
                        <input type="text" class="form-control" name="info[street]" id="street" value="<%= info.street %>" placeholder="Tu wpisz ulicę i numer ważnej informacji" aria-label="Hasło" aria-describedby="basic-addon1">
                     </div>
                    
                    <input type="submit" value="Edytuj informację" class="btn btn-success button btn-golden">
                   
                </form>
                
            </div>
           
        </div>
        
    </div>
</div>

</body>
</html>