<%- include("../partials/headern") %>
<br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="subpage-title"><%= language.__('Ważne informacje') %></h1>
                <a href="/infos/new" class="btn btn-success btn-green"><%= language.__('Dodaj ważną informacje') %></a>
            </div>
        </div>
        <% if(infos.length === 0){ %>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12">
                    <div class="alert alert-info text-center">
                        <%= language.__('Do tej pory nie dodano jeszcze ważnych informacji') %>
                    </div>
                    
                </div>
            </div>
        <% } else { %>
            <div class="row">
                <% infos.forEach((info) => { %>
                    <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 10px;">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title text-center">
                                    <% if(userLanguage === 'pl'){ %>
                                        <%= info.name %>
                                        
                                    <% } else { %>
                                        <%= info.nameEn %>
                                        
                                    <% } %>
                                    
                                </div>
                                <% if(userLanguage === 'pl'){ %>
                                    <p class="description">
                                        Miejsce: <strong><%= info.place %></strong>
                                    </p>
                                    <p class="description">
                                        Miasto: <strong><%= info.city %></strong>
                                    </p>
                                    <p class="description">
                                        Ulica i numer: <strong><%= info.street %></strong>
                                    </p>
                                    <p class="description">
                                        Czas: <strong><%= info.time %></strong>
                                    </p>
                                <% } else { %>
                                    <p class="description">
                                        <%= language.__('Miasto:') %> <strong><%= info.city %></strong>
                                    </p>
                                    <p class="description">
                                        <%= language.__('Ulica i numer:') %> <strong><%= info.street %></strong>
                                    </p>
                                    <p class="description">
                                        
                                        Place: <strong><%= info.placeEn %></strong>
                                    </p>
                                    <p class="description">
                                        Time: <strong><%= info.time %></strong>
                                    </p>
                                <% } %>
                                
                                

                                
                                <a href="/infos/<%= info._id %>/edit" class="btn btn-success btn-green">
                                    <%= language.__('Edytuj') %>
                                </a>
                                <a href="/infos/<%= info._id %>/delete" class="btn btn-danger">
                                    <%= language.__('Usuń') %>
                                </a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>
    </div>
    <%- include("../partials/footer") %>